<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vite App</title>
</head>

<body ng-app="app">
  <div id="app" ng-cloak>
    
    <div class="graphics" ng-controller="MainController as main">  
      <div ng-controller="UIController as ui" >
        <graph-container>
          <graph-container-sidebar-devices>
            <div class="graph_main_container_header">
              <div class="icon"><span class="fa fa-cloud"></span></div>
              <div class="label">Devices</div>
            </div>
            <div class="graph_container_sidebar_body">
              <device-acc 
                ng-repeat="deviceType in deviceTypes" 
                opened="ui.openedDeviceType == deviceType">
                <div 
                  class="device_acc_header"
                  ng-click="ui.openDeviceType(deviceType)">
                  <div class="icon">
                    <span 
                      ng-class="[
                      'fa', 
                      {'fa-chevron-right': ui.openedDeviceType !== deviceType}, 
                      {'fa-chevron-down': ui.openedDeviceType == deviceType}]"
                    ></span>
                  </div>
                  <div class="label">{{deviceType}} - {{getDevicesByType(deviceType).length}}</div>
                </div>
                <div class="device_acc_body">
                  <div class="device_acc_body_holder">
                    <device-sub-acc 
                      ng-repeat="device in getDevicesByType(deviceType)" 
                      opened="ui.openedDevice.id == device.id" 
                      active="ui.openedDevice.id == device.id">
                      <div 
                        class="device_subacc_header"
                        ng-click="ui.openDevice(device)">
                        <div class="icon"><span class="fa fa-sliders"></span></div>
                        <div class="label">{{device.id}}</div>
                        <div class="status"><span class="fa fa-circle"></span></div>
                      </div>
                      <div class="device_subacc_body" ng-class="[{opened: false}]">
                        <div class="device_subacc_body_holder">
                          <draggable ng-repeat="deviceTag in device.props">
                            <device-tag name="deviceTag" />
                          </draggable>
                        </div>
                      </div>
                    </device-sub-acc>
                  </div>
                </div>
              </device-acc>
            </div>
          </graph-container-sidebar-devices>
          <graph-container-sidebar-settings></graph-container-sidebar-settings>
          <div class="graph_container_body">
            <div class="graph_canvas">
              <!-- <img src="./assets/img/Captura de pantalla 2021-07-20 a las 20.00 1.png" alt=""> -->
              <chart chart-type="'line'" chart-data="main.scope.data"></chart>
            </div>
          </div>
        </graph-container>
      </div>
    </div>
  </div>
  <script type="module" src="/app/main.ts"></script>
</body>

</html>